* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}


body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #e6e7ec, #f4f5f9);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-60px); /* move up */
}


.app {
  width: 500px;
  background: #fdfdfd;
  padding: 32px;
  border-radius: 22px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.12);
}

h1 {
  margin: 0 0 22px;
  text-align: center;
  color: #333;
  font-size: 28px;
}

.input-box {
  display: flex;
  gap: 12px;
  margin-bottom: 22px;
}

#taskInput {
  flex: 1;
  padding: 14px 16px;
  border-radius: 14px;
  border: 1px solid #ddd;
  font-size: 15px;
  background: #f7f7f7;
}

#taskInput:focus {
  outline: none;
  border-color: #999;
  background: white;
}

.add-btn {
  padding: 14px 20px;
  border: none;
  border-radius: 14px;
  background: #555;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.add-btn:hover {
  background: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #f2f3f6;
  padding: 16px 18px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  transition: 0.2s;
}

li:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

li span {
  flex: 1;
  cursor: pointer;
  color: #333;
}

.actions i {
  color: #777;
  margin-left: 16px;
  cursor: pointer;
  font-size: 16px;
}

.actions i:hover {
  color: #000;
}

.edit-input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}
